{% include 'Home/base.html' %}
{% load static %}
{% include 'Home/nav.html' %}

{% block content %} 

{% if request.user.is_authenticated and  request.user.is_staff %}

<section class="vh-100">


    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">

                  {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                  {% endif %}

                <h2 class="text-uppercase text-center mb-5">Add Appointment</h2>
                  <form method="POST" class="container">
                    {% csrf_token %}
                    
                 
                  <label for="">Doctor Name</label>
    <select id="doctor" name="doctor" class="form-control "  >
       {% for i in doctor%}
       
        <option value="{{ i.Name}}">{{i.Name}}</option>
        {%endfor%}

        </select>
  
  
  
 <label for="">Patient Name</label>
    <select id="patient" name="patient" class="form-control "   >
       {% for i in patient%}
       
        <option value="{{ i.name}}">{{i.name}}</option>
        {%endfor%}

        </select>
  
  
 
  <label for="">Date</label>
  
    <input type="date" id="date" name="date" class="form-control"/>
 
  

  <label for="">Time</label>
  
  <input type="time" id="time" name="time" class="form-control"/>

  
  
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">ADD</button>
                    </div>
  
                    
                  </form>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{%endif%}


{% if request.user.is_authenticated and not request.user.is_staff %}
<section class="vh-100">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            {% if messages %}
                 
                            {% for message in messages %}
                                    <div class="alert alert-success">{{ message }}</div>
                                {% endfor %}
                            {% endif %}

                            <h2 class="text-uppercase text-center mb-5">Add Appointment</h2>
                            <form method="POST" class="container">
                                {% csrf_token %}
                                
                                
                                <label for="">Doctor</label>
                                <input type="text" class="form-control" value="{{ doctor.Name }}" readonly />

                               
                                <label for="">Patient Name</label>
                                <input type="text" class="form-control" value="{{ patient_name }}" readonly />

                                
                                <label for="">Date</label>
                                <input type="date" id="date" name="date" class="form-control" required />

                               
                                <label for="">Time</label>
                                <input type="time" id="time" name="time" class="form-control" required />

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Add Appointment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endif%}

{% endblock content %}
{% include 'Home/footer.html' %}