{% include 'Home/base.html' %}
{% include 'Home/nav.html' %}

{% block content %}   



<div class="container" style="margin-top:50px;">
    <h1 class="text-center">Contact us</h1>
    <div class="row mt-5 text-center d-flex justify-content-center">
        <div class="col-lg-3 col-sm-6 divbox">
            <h4><i class="bi bi-telephone-fill"></i> Contacts</h4>
            <p class="fw-bold"><a href="tel:+01045678909" class="links">+01045678909</a></p>
            <p class="fw-bold"><a href="tel:+01145678909" class="links">+01145678909</a></p> 
            <p class="fw-bold"><a href="tel:+01245678909" class="links">+01245678909</a></p>
        </div>
        <div class="col-lg-3 col-sm-6  divbox">
            <h4><i class="bi bi-envelope-fill"></i> Send-email</h4>
            <p class="fw-bold"><a href="mailto:jessyfady2@gmail.com" class="links">jessyfady2@gmail.com</a></p>
        </div>
    </div>
</div>





{% endblock content %}
{% include 'Home/footer.html' %}