{% include 'Home/base.html' %}
{% load static %}
{% include 'Home/nav.html' %}

{% block content %} 
    <section class="vh-100">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">My Appointments</h2>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Doctor</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for appointment in appointments %}
                                                <tr>
                                                    <td>{{ appointment.doctor.Name }}</td>
                                                    <td>{{ appointment.date }}</td>
                                                    <td>{{ appointment.time }}</td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="3" class="text-center">No appointments found.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% include 'Home/footer.html' %}
